<!DOCTYPE html>
<html>
  <head>
    <title>Yummy</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'custom_style', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
      <% if logged_in? %>
          <% user = current_user %>
          <nav class="navbar">
          <ul class="navbar">
          <li><%= link_to user.name, user_path(user.id), method: :get %></li>
          <li><%= link_to "Create",  users_new_recipe_path, method: :get %></li>
          <li><%= link_to "Home", home_path, method: :get %></li>
          <li><%= link_to "About", about_path, method: :get %></li>
          <li><%= link_to "Log out", logout_path, method: :delete %></li>
          </ul>
          <img class="navbar" src="/default/logo.png" alt="yummy logo">
          </nav>
      <% else %>
        <nav class="navbar">
        <ul class="navbar">
        <li><%= link_to "Home", home_path, method: :get %></li>
        <li><%= link_to "About", about_path, method: :get %></li>
        <li><%= link_to "Login", login_path, method: :get %></li>
        </ul>
        <img class="navbar" src="/default/logo.png" alt="yummy logo">
        </nav>   
      <% end %>
  <br>
  <% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %>"><%= message %></div>
  <% end %>

  <%= yield %>

  </body>
</html>
